<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <h1>Corona</h1>
    <label>Country</label>
    <select>
      <option>All</option>
    </select>
    <button>Get Corona Data</button>
    <h1>Total confirmed</h1>
    <h1>Total confirmed</h1>
    <h1>Total confirmed</h1>
  </div>
  <app-explore-container name="Tab 1 page"></app-explore-container>
  <app-home>
  </app-home>
</ion-content>
