.top{
  background: #9d9fa6;
  padding: 5px;
  ion-card{
    margin: 0px;
    background: rebeccapurple;
    ion-card-header{

      ion-card-subtitle{
        font-size: 16px;
        text-align: center;
        color: #ffffff;

      }
    }
    ion-card-content{
      font-size: 19px;
      color: #ffffff;
      text-align: center;
    }
  }

}
