.top{
  position: relative;
  background: #ed576b;
  padding: 20px 5px;
  ion-card{
    margin: 0px;
    background: #cccccc;
    border-radius: 15px;

    ion-card-header{
        padding: 5px;
      ion-card-subtitle{
        font-size: 16px;
        text-align: center;
        color: #2a2a2a;
      }
    }
    }
  ion-card-content{
    font-size: 19px;
    color: #2a2a2a;
    text-align: center;

  }
  .input-area{
    ion-input{
      background: #cccccc;
      border-radius: 5px;
    }
    color: #1a1a1a;
    position: absolute;
    bottom: -22px;
    left: 0px;
    right: 0px;
    padding: 0px 10px;
  }

}
