.top{
  position: relative;
  background: #ed576b;
  padding: 30px 5px;
  ion-card{
    margin: 0px;
    background: #cccccc;
    border-radius: 15px;

    ion-card-header{
        padding: 5px;
      ion-card-subtitle{
        font-size: 16px;
        text-align: center;
        color: #2a2a2a;
      }
    }
    }
  ion-card-content{
    font-size: 19px;
    color: #2a2a2a;
    text-align: center;

  }

    ion-input{
      background: #e7e5e5;
      border-radius: 8px;
    }


  ion-icon{
    padding: 5px;
    font-size: 20px;
    position: absolute;
    z-index: 3;
    right: 32px;
    bottom: 4px;

  }

}
main{
  overflow: auto;
  height: 100%;
  ion-list {
    margin-top: 35px;
    background: #1a0909;
    overflow: scroll;
    padding:  0 5px;
  }
  div{
    border-bottom: 1px solid black;
    padding: 0 5px;
    h5{
      margin: 0;
    }
    h6{
      margin: 0;
      opacity: -6;
      font-weight: 500;
    }
    span{
      font-weight: 500;
    }
    --background: #f5f5f5;
  }
}
