<div class="top" padding>
   <ion-row *ngIf="covidResult"> <!--covid verisi null değilse göster -->
       <ion-col size="4" size-md="4">
           <ion-card>
               <ion-card-header>
                   <ion-card-subtitle>Toplam Ölüm</ion-card-subtitle>
               </ion-card-header>

               <ion-card-content>
                {{covidResult.totalDeaths}}
               </ion-card-content>

           </ion-card>
       </ion-col>

       <ion-col size="4">
           <ion-card>
               <ion-card-header>
                   <ion-card-subtitle>Toplam Vaka</ion-card-subtitle>
               </ion-card-header>

               <ion-card-content>
                   {{covidResult.totalCases}}
               </ion-card-content>
           </ion-card>

       </ion-col>
       <ion-col size="4">
           <ion-card>
               <ion-card-header>
                   <ion-card-subtitle>Toplam İyileşen</ion-card-subtitle>
               </ion-card-header>

               <ion-card-content>
                   {{covidResult.totalRecovered}}
               </ion-card-content>
           </ion-card>

       </ion-col>
   </ion-row>
<div class="input-area">
    <ion-input type="text" [(ngModel)]="countryName"  placeholder="Ülke ara... "></ion-input>
    <ion-icon  name="close-outline" (click)="countryName=null"></ion-icon>
</div>
</div>

<div class="main">
    <ion-list>
        <div *ngFor="let item of countryList | country : countryName">
            <ion-row>
                <ion-col size="12" (click)="countryName = item.country">
                    <h5>{{item.country}}</h5>
                </ion-col>
                <ion-col size="12" *ngIf="item.country === countryName">
                    <ion-row>
                        <ion-col size="6">
                            <h6>Toplam Vaka Sayısı</h6>
                        </ion-col>
                        <ion-col size="6" class="ion-text-right">
                            <span>{{item.totalCases}}</span>
                        </ion-col>

                        <ion-col size="6">
                            <h6>Yeni Vaka Sayısı</h6>
                        </ion-col>
                        <ion-col size="6" class="ion-text-right">
                            <span>{{item.newCases}}</span>
                        </ion-col>

                        <ion-col size="6">
                            <h6>Toplam Ölüm Sayısı</h6>
                        </ion-col>
                        <ion-col size="6" class="ion-text-right">
                            <span>{{item.totaldeaths}}</span>
                        </ion-col>

                        <ion-col size="6">
                            <h6>Yeni Ölüm Sayısı</h6>
                        </ion-col>
                        <ion-col size="6" class="ion-text-right">
                            <span>{{item.newDeaths}}</span>
                        </ion-col>

                        <ion-col size="6">
                            <h6>Toplam İyileşen Sayısı</h6>
                        </ion-col>
                        <ion-col size="6" class="ion-text-right">
                            <span>{{item.totalRecovered}}</span>
                        </ion-col>

                        <ion-col size="6">
                            <h6>Aktif Vaka Sayısı</h6>
                        </ion-col>
                        <ion-col size="6" class="ion-text-right">
                            <span>{{item.activeCases}}</span>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </div>
    </ion-list>
</div>
