<div class="top" padding>
   <ion-row *ngIf="covidResult"> <!--covid verisi null değilse göster -->
       <ion-col size="4" size-md="4">
           <ion-card>
               <ion-card-header>
                   <ion-card-subtitle>Toplam Ölüm</ion-card-subtitle>
               </ion-card-header>

               <ion-card-content>
                {{covidResult.totalDeaths}}
               </ion-card-content>

           </ion-card>
       </ion-col>

       <ion-col size="4">
           <ion-card>
               <ion-card-header>
                   <ion-card-subtitle>Toplam Vaka</ion-card-subtitle>
               </ion-card-header>

               <ion-card-content>
                   {{covidResult.totalCases}}
               </ion-card-content>
           </ion-card>

       </ion-col>
       <ion-col size="4">
           <ion-card>
               <ion-card-header>
                   <ion-card-subtitle>Toplam İyileşen</ion-card-subtitle>
               </ion-card-header>

               <ion-card-content>
                   {{covidResult.totalRecovered}}
               </ion-card-content>
           </ion-card>

       </ion-col>
   </ion-row>
<div class="input-area">
    <ion-input type="text" placeholder="Ülke ara... "></ion-input>
</div>

</div>
